body{
    color: #666666;
}
hr{
    background-color:#DDDDDD;
}
.logo{
    background-color: #333333;
}
.capcelera{
    background-color: #333333;
}

.header {
    background-color: #333333;
    color: white;
}
.title-capcelera{
    color: white;
}
.noticies{
    background-color:#f5f5f5;
    color: black;
}
li h3{
    color:#BF0000;
}
.descripcion{
  color:#6666;
}
