
.texto{
    padding-bottom: 1%;
    border-bottom: 0.2em solid #ddd;
}
ul{
    width: 100%;
}
li{
    display: block;
}
.personas{
    padding-bottom: 10px;
    min-height:111px;
    border-bottom: 0.1em solid #ddd;
    width: 98%;
    display: block;
}
li h3{
    padding-left:9.5em;
}
.imagen{
    float: left;
    width: 8.250em;
    height: 5.500em;
    margin-top: -29px;
}
.imagen img{
    width: 100%;
    height: 100%;
}
.descripcion{
    padding-left:11em;
    line-height: 1.3em;
}

