.logo{
    margin-top: 7px; 
}
.capcelera{
    height: 55px;
    margin: -10px;
    padding-left: 150px;
    padding-right: 102.5px;
}
.content{
    margin: auto;
    width: 1100px;
}
.noticies{
    margin: -10px;
    padding-left: 150px;
    padding-right: 102.5px;
    padding-top: 10px;
}
.logo_iam{
    width: 50%;
}
.header {
    margin: -10px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-top: 11px;
}
.margin-left {
    margin-left: 9%;
}
.title-capcelera{
    margin-top: 13px;
    padding-left: 19px;
}
.menu{
    display: inline;   
}
.img-logo{
    padding-left: 18px;
}
.column{
    margin-bottom: -28px;
    padding-left: 20px;
}
.noticia{
    margin-top: -18px;
}