ul{
  list-style: none;
}
li{
  text-align: -webkit-match-parent;
}
li h3{
  font-family: "OpenSansSemibold",Arial, Helvetica, sans-serif;
  font-size: 0.938em;
  font-weight: inherit;
}
.descripcion{
  font-size: 0.813em;
}
a{
    text-decoration: none;
}
body{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}
.content{
  text-decoration: none;
}
.equipdocent{
    text-align: center;
    text-decoration: none;
}
.h_noticies{
    font-size:24px;
}
.title-capcelera{
  font-family: 'OpenSans';
  font-size:35px;
}
.cercadorOcultGoogle{
  font-size: 0.875em;
}
.equip-docent:visited, .equip-docent:link, .equip-docent:active{
    text-decoration: none;
}
.noticia{
  font-size:14px;
}
.h_noticies{
    font-size:24px;
}
